{% extends 'GarakSandboxBundle::layout.html.twig' %}

{% block body %}
    <h1>PUGXGeneratorBundle sandbox</h1>

    <p>Hello world</p>

    <a class="btn btn-default" href="https://github.com/garak/PUGXGeneratorBundleSandbox">
        <i class="fa fa-github"></i>
        fork me on Github
    </a>

{% endblock %}
